.layout {
  min-height: 100vh;
}

.header {
  //background-color: #ffffff !important;
}

.content {
  background-color: #ffffff;
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
}

.menu {
  height: 100vh;
}

.breadcrumb {
  margin-left: 16px;
  margin-top: 15px;
}